<footer class="footer">
    <hr />
    <img class="logo" src="/images/logo.svg" alt="" />

    <div class="lista">
        <h3>Menu</h3>
        <ul type="none">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Cuenta</a></li>
            <li><a href="#">Historial</a></li>
            <li><a href="#">Favoritos</a></li>
        </ul>
    </div>
    <div class="lista">
        <h3>Puffy</h3>
        <ul type="none">
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">F.A.Q.</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="lista">
        <h3>Reposteros</h3>
        <ul type="none">
            <li><a href="/signup">Afiliate</a></li>
            <li><a href="#">Lista de reposteros</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Temporada</a></li>
            <li><a href="#">---</a></li>
        </ul>
    </div>
</footer>