# NodeJS specific #
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log

# Optional npm cache directory
.npm
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Output of 'npm pack'
*.tgz


# REACT .gitignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Puffy/dashboard/node_modules
Puffy/dashboard/.pnp
Puffy/dashboard/.pnp.js

# testing
Puffy/dashboard/coverage

# production
Puffy/dashboard/build

# misc
Puffy/dashboard/.DS_Store
Puffy/dashboard/.env.local
Puffy/dashboard/.env.development.local
Puffy/dashboard/.env.test.local
Puffy/dashboard/.env.production.local

Puffy/dashboard/npm-debug.log*
Puffy/dashboard/yarn-debug.log*
Puffy/dashboard/yarn-error.log*
