<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>¡Gracias!</title>
</head>

<body>
    <%- include('partials/header') %>

        <main class="carrito2">
            <h1 class="fuente-may">¡Gracias por tu compra!</h1>
            <h3 style="margin-top: 2rem;">Regresar al <a href="/">inicio</a>...</h3>
        </main>

        <%- include('partials/footer') %>
</body>

</html>