<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bienvenido a Puffy</title>
        <link rel="icon" href="/images/favicon.ico" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/10a87b4104.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="btn-menu-principal">
                    <label for="mostrar-nav">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
                <img src="/images/logo.svg" alt="Logo Puffy" class="logo" />
                <div class="relleno-top-bar"></div>
                <div class="carrito">
                    <a href="#"
                        ><i class="far fa-heart"></i><span>Deseados</span></a
                    >
                    <a href="/carrito"
                        ><i class="fas fa-shopping-cart"></i
                        ><span>Carrito</span></a
                    >
                </div>
            </div>

            <nav>
                <input type="checkbox" id="mostrar-nav" hidden />
                <ul class="menu-principal">
                    <li><a href="/detalle">Detalle</a></li>
                    <li>
                        <label for="mostrar-submenu">Carrito</label>
                        <input type="checkbox" id="mostrar-submenu" hidden />
                        <ul class="submenu">
                            <li><a href="/carrito">Carrito</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registrar</a></li>
                </ul>
            </nav>
            <div class="bot-bar">
                <form action="" method="post" class="busqueda">
                    <input
                        type="text"
                        id="buscar"
                        placeholder="Hoy se me antoja..."
                        class="txt-busqueda"
                    />
                    <button type="submit" class="btn-busqueda">
                        <i class="fas fa-search ic-busqueda"></i>
                    </button>
                </form>
            </div>
            <hr />
        </header>

        
    <main class="form">
        <h3>CREAR CUENTA</h3>

        <div class="container_01">
            <input type="text" class="fill" placeholder="Nombre Completo">
            <input type="email" class="fill"placeholder="Correo electrónico">
            <input type="password" class="fill" placeholder="Contraseña">
            <input type="password" class="fill" placeholder="Confirmar contraseña">
        </div>

        <div class="button_01">
            <input type="submit" value="CREAR CUENTA">
        </div>

        <div class="container_51">
            <a href="#">¿Ya tienes una cuenta? Inicia sesión</a>
        </div>
    </main>
    
    <hr>

        <footer class="footer">
            <img class="logo" src="/images/logo.svg" alt="" />

            <div class="lista">
                <h3>Menu</h3>
                <ul type="none">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Cuenta</a></li>
                    <li><a href="#">Historial</a></li>
                    <li><a href="#">Favoritos</a></li>
                </ul>
            </div>
            <div class="lista">
                <h3>Puffy</h3>
                <ul type="none">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">---</a></li>
                    <li><a href="#">---</a></li>
                </ul>
            </div>
            <div class="lista">
                <h3>Reposteros</h3>
                <ul type="none">
                    <li><a href="#">Afiliates</a></li>
                    <li><a href="#">Lista de reposteros</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Temporada</a></li>
                    <li><a href="#">---</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
