<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Crea tu cuenta</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <main class="form">
            <h3>CREAR CUENTA</h3>

            <div class="container_01">
                <input type="text" class="fill" placeholder="Nombre Completo" />
                <input
                    type="email"
                    class="fill"
                    placeholder="Correo electrónico"
                />
                <input type="password" class="fill" placeholder="Contraseña" />
                <input
                    type="password"
                    class="fill"
                    placeholder="Confirmar contraseña"
                />
            </div>

            <div class="button_01">
                <input type="submit" value="CREAR CUENTA" />
            </div>

            <div class="container_51">
                <a href="#">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
            <hr />
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
