<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>¡Gracias!</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="carrito2">
            <div class="progress-bar">
                <ul class="main-bar">
                    <li class="active">Productos</li>
                    <% if(!userId){ %>
                        <li class="active">Datos de contacto</li>
                    <% } %>
                    <li class="active">Dirección de entrega</li>
                    <li class="active">Listo</li>
                </ul>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="fuente-may">¡Gracias por tu compra!</h1>
            <h3 style="margin-top: 2rem;">Regresar al <a href="/">inicio</a>...</h3>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>