<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Continuar como invitado</title>
</head>

<body>

    <main>
        <h2> Ingresa tus datos para el envío: </h2>
        <div class="add-contact" id="addContact">
            <form action="/cart/createInvited" method="post" id="addContactForm">
                <h3>Datos de contacto: </h3>
                <input name="name" id="name">
                <input type="tel" name="mobile" id="mobile">
                <input type="email" name="email" id="email">
                <hr />
                <%- exists ? '<span class="alert">El correo está registrado. Elige otro correo o <a href="/login">inicia sesión</a>.<span/>' : ''%> 
                <input type="submit" value="Continuar">
            </form>
        </div>
        
    
    </main>

</body>

</html>