<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Listo para realizar tu pedido</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <main class="carrito">
            <h1 class="fuente-may">Carrito</h1>
            <section class="lista-productos">
                <div class="postre">
                    <h2 class="fuente-may">Chocoflan Casero</h2>
                    <div class="imagen">
                        <img
                            src="/images/chocoflan.svg"
                            alt="imagen chocoflan"
                        />
                    </div>
                    <div class="cantidad">
                        <label for="cantidad">Cantidad:</label>
                        <div>
                            <button class="izq">-</button
                            > <input type="number" name="quantity" id="quantity" class="add-mod-price" value="1" ><button
                                class="der"
                            >
                                +
                            </button>
                        </div>

                   

                    </div>
                    <div class="eliminar">
                        <button>
                            <img
                                src="/images/eliminar.svg"
                                alt="botont eliminar"
                            />
                        </button>
                        <label class="rojo" for="eliminar">Eliminar</label>
                    </div>
                    <p class="subtotal bold">Subtotal: $295 mxn</p>
                    <input
                        class="nota"
                        type="text"
                        name="eliminar"
                        placeholder="Agrega una nota aquí para la tienda..."
                        id="eliminar"
                    />
                    
                </div>
            </section>
            <section class="total">
                <div class="grupo">
                    <p>Subtotal(2 productos):</p>
                    <p>$295 mxn</p>
                </div>
                <div class="grupo">
                    <p>Envío:</p>
                    <p>$65 mxn</p>
                </div>
                <div class="grupo">
                    <p>Total:</p>
                    <div class="precio-total">
                        <p>$360 mxn</p>
                        <p class="gris">IVA INCLUIDO</p>
                    </div>
                </div>
                <form action="#">
                    <input class="boton" type="submit" value="Continuar" />
                </form>
            </section>
            <hr />
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
