<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <main class="carrito">
        <h1 class="fuente-may">Carrito</h1>
        <section class="lista-productos">
            <div class="postre">
                <h2 class="fuente-may">Chocoflan Casero</h2>
                <h3>Linda Pasteleria</h3>
                <div class="imagen">
                    <img src="../public/images/chocoflan.svg" alt="">
                </div>
                <div class="cantidad">
                    <label for="cantidad">Cantidad:</label>
                    <div>
                        <button class="izq">-</button><input type="text" name="" id=""><button class="der">+</button>
                    </div>
                </div>
                <div class="eliminar">
                    <button>
                        <img src="../public/images/eliminar.svg" alt="botont eliminar">
                    </button>
                    <label class="rojo" for="eliminar">Eliminar</label>
                </div>
                <p class="subtotal bold">Subtotal: $295 mxn</p>
                <input class="nota" type="text" name="eliminar" placeholder="Agrega una nota aquí para la tienda..." id="eliminar">
                <div class="detalle-envio">
                    <h3>Detalle del envío</h3>
                </div>
            </div>
            <div class="postre">
                <h2 class="fuente-may">Chocoflan Casero</h2>
                <h3>Linda Pasteleria</h3>
                <div class="imagen">
                    <img src="../public/images/chocoflan.svg" alt="">
                </div>
                <div class="cantidad">
                    <label for="cantidad">Cantidad:</label>
                    <div>
                        <button class="izq">-</button><input type="text" name="" id=""><button class="der">+</button>
                    </div>
                </div>
                <div class="eliminar">
                    <button>
                        <img src="../public/images/eliminar.svg" alt="botont eliminar">
                    </button>
                    <label class="rojo" for="eliminar">Eliminar</label>
                </div>
                <p class="subtotal bold">Subtotal: $295 mxn</p>
                <input class="nota" type="text" name="eliminar" placeholder="Agrega una nota aquí para la tienda..." id="eliminar">
                <div class="detalle-envio">
                    <h3>Detalle del envío</h3>
                </div>
            </div>
        </section>
        <section class="total">
            <div class="grupo">
                <p>Subtotal(2 productos):</p>
                <p>$295 mxn</p>
            </div>
            <div class="grupo">
                <p>Envío:</p>
                <p>$65 mxn</p>
            </div>
            <div class="grupo">
                <p>Total:</p>
                <div class="precio-total">
                    <p>$360 mxn</p>
                    <p class="gris">IVA INCLUIDO</p>
                </div>
            </div>
            <form action="#">
                <input class="boton" type="submit" value="Continuar">
            </form>
        </section>
    </main>
</body>
</html>