<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Listo para realizar tu pedido</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <main class="carrito2">
            <h1 class="fuente-may">Carrito</h1>
            <h3>Tu carrito está vacio. Prueba agregando algunos productos.</h3>
            <a href="/"><h3>Inicio</h3></a>
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
