<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="form">

        <h3>INICIA SESIÓN</h3>

        <div class="container_01">
            <input type="email" class="fill" placeholder="Correo electrónico">
            <input type="password" class="fill" placeholder="Contraseña">
        </div>

        <div class="container_02">
            <a href="#">¿Has olvidado tu contraseña?</a>
        </div>

        <div class="button_01">
            <input type="submit" value="ENTRAR">
        </div>

        <div class="button_02">
            <button>CONTINUAR COMO INVITADO</button>
            <button>CONTINUAR COMO INVITADO</button>
        </div>

        <!--<a href="#" id="create_account">CREAR CUENTA</a>-->

    </section>

    <footer class="footer">


        <!-- <span class="pie"> -->
        <img class="logo" src="/images/logo.svg" alt="">


        <div class="lista">
            <h3>Menu</h3>
            <ul type="none">

                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Favoritos</a></li>
            </ul>
        </div>
        <div class="lista">
            <h3>Puffy</h3>
            <ul type="none">
               
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">F.A.Q.</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
            </ul>
        </div>
        <div class="lista">
            <h3>Reposteros</h3>
            <ul type="none">
            
                <li><a href="#">Afiliates</a></li>
                <li><a href="#">Lista de reposteros</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Temporada</a></li>
                <li><a href="#">---</a></li>
            </ul>
        </div>

        <!--</span>-->
    </footer>

</body>

</html>