<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bienvenido a Puffy</title>
        <link rel="icon" href="/images/favicon.ico" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/10a87b4104.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="btn-menu-principal">
                    <label for="mostrar-nav">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
                <img src="/images/logo.svg" alt="Logo Puffy" class="logo" />
                <div class="relleno-top-bar"></div>
                <div class="carrito">
                    <a href="#"
                        ><i class="far fa-heart"></i><span>Deseados</span></a
                    >
                    <a href="#"
                        ><i class="fas fa-shopping-cart"></i
                        ><span>Carrito</span></a
                    >
                </div>
            </div>

            <nav>
                <input type="checkbox" id="mostrar-nav" hidden />
                <ul class="menu-principal">
                    <li><a href="#">Opc 1</a></li>
                    <li>
                        <label for="mostrar-submenu">Opc 2</label>
                        <input type="checkbox" id="mostrar-submenu" hidden />
                        <ul class="submenu">
                            <li><a href="#">Sub1</a></li>
                            <li><a href="#">Sub2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Opc 3</a></li>
                    <li><a href="#">Opc 4</a></li>
                </ul>
            </nav>
            <div class="bot-bar">
                <form action="" method="post" class="busqueda">
                    <input
                        type="text"
                        id="buscar"
                        placeholder="Hoy se me antoja..."
                        class="txt-busqueda"
                    />
                    <button type="submit" class="btn-busqueda">
                        <i class="fas fa-search ic-busqueda"></i>
                    </button>
                </form>
            </div>
            <hr />
        </header>

        <main>
            <section id="slider">
                <input type="radio" name="slider" id="slide1" checked />
                <input type="radio" name="slider" id="slide2" />
                <input type="radio" name="slider" id="slide3" />
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <h2>Bienvenido</h2>
                                    <p>Postres de todo tipo.</p>
                                </div>
                                <img src="/images/logo.svg" alt="logo" />
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <h2>Slide 2</h2>
                                    <p>Content for Slide 2</p>
                                </div>
                                <img
                                    src="https://image.flaticon.com/icons/svg/130/130882.svg"
                                    alt="prueba"
                                />
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <h2>Slide 3</h2>
                                    <p>Content for Slide 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
            </section>
            <section class="postre-del-dia">
                <article>
                    <h3>Postre del día</h3>
                    <img src="/images/chocoflan.jpg" alt="Postre del dia" />
                    <div class="mensaje">
                        <h4>Chocoflan</h4>
                        <p>$99.99 <span class="small">mxn</span></p>
                    </div>
                </article>
            </section>
            <div class="coleccion-repostero">
                <section class="colecciones">
                    <h3>Colecciones</h3>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c1">
                                <img src="/images/normal.svg" alt="Normal" />
                            </div>
                            <p>Normal</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c2">
                                <img src="/images/keto.svg" alt="Keto" />
                            </div>
                            <p>Keto</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c3">
                                <img src="/images/light.svg" alt="Light" />
                            </div>
                            <p>Light</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c4">
                                <img src="/images/vegano.svg" alt="Vegano" />
                            </div>
                            <p>Vegano</p>
                        </article>
                    </a>
                </section>
                <section class="reposteros">
                    <h3>Reposteros</h3>
                    <div class="scroll">
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                    </div>
                </section>
            </div>
            <hr />
        </main>

        <footer class="footer">
            <img class="logo" src="/images/logo.svg" alt="" />

            <div class="lista">
                <h3>Menu</h3>
                <ul type="none">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Cuenta</a></li>
                    <li><a href="#">Historial</a></li>
                    <li><a href="#">Favoritos</a></li>
                </ul>
            </div>
            <div class="lista">
                <h3>Puffy</h3>
                <ul type="none">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">---</a></li>
                    <li><a href="#">---</a></li>
                </ul>
            </div>
            <div class="lista">
                <h3>Reposteros</h3>
                <ul type="none">
                    <li><a href="#">Afiliates</a></li>
                    <li><a href="#">Lista de reposteros</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Temporada</a></li>
                    <li><a href="#">---</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
