<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Bienvenido a Puffy</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <main>
            <section id="slider">
                <input type="radio" name="slider" id="slide1" checked />
                <input type="radio" name="slider" id="slide2" />
                <input type="radio" name="slider" id="slide3" />
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <h2>Bienvenido</h2>
                                    <p>Postres de todo tipo.</p>
                                </div>
                                <img src="/images/logo.svg" alt="logo" />
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <h2>Slide 2</h2>
                                    <p>Content for Slide 2</p>
                                </div>
                                <img
                                    src="https://image.flaticon.com/icons/svg/130/130882.svg"
                                    alt="prueba"
                                />
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <h2>Slide 3</h2>
                                    <p>Content for Slide 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
            </section>
            <section class="postres">
                <article class="postre-del-dia">
                    <h3>Postre del día</h3>
                    <img src="/images/chocoflan.jpg" alt="Postre del dia" />
                    <div class="mensaje">
                        <h4>Chocoflan</h4>
                        <p>$99.99 <span class="small">mxn</span></p>
                    </div>
                </article>
                <article class="nuevos-postres">
                    <h3>Postres nuevos</h3>
                    <div class="postre1">
                        <img src="/images/chocoflan.jpg" alt="Postre1" />
                        <div class="mensaje">
                            <h5>Tres Leches</h5>
                            <p>$99.99 <span class="small">mxn</span></p>
                        </div>
                    </div>
                </article>
            </section>
            <div class="coleccion-repostero">
                <section class="colecciones">
                    <h3>Colecciones</h3>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c1">
                                <img src="/images/normal.svg" alt="Normal" />
                            </div>
                            <p>Normal</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c2">
                                <img src="/images/keto.svg" alt="Keto" />
                            </div>
                            <p>Keto</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c3">
                                <img src="/images/light.svg" alt="Light" />
                            </div>
                            <p>Light</p>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <div class="circulo-coleccion c4">
                                <img src="/images/vegano.svg" alt="Vegano" />
                            </div>
                            <p>Vegano</p>
                        </article>
                    </a>
                </section>
                <section class="reposteros">
                    <h3>Reposteros</h3>
                    <div class="scroll">
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/marisa_logo.svg" alt="" />
                        </article>
                    </div>
                </section>
            </div>
            <hr />
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
