<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head') %>
            <title>¿Quienes somos?</title>
    </head>

<body>
    <%- include('partials/header') %>

        <main>
            <h2 style="text-align: center;">¿Quiénes somos?</h2>
            <span class="body-perfil">
               <p> Puffy es un E-commerce para repostería, donde los reposteros (caseros o negocios) pueden vender sus postres. 
                Los postres incluyen pasteles, galletas, gelatinas, flan, cupcakes, etc.
                </p> 
              <figure>
            <img src="/images/repostero.jpg" alt="repostero" />
            </figure>
            
        
        </span>
            
            
        </main>

        <%- include('partials/footer') %>
</body>

</html>