<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Usuario no encontrado</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main style="height: 50vh;">
            <div style="text-align: center; padding-top:2rem; margin-bottom: 2rem;">
                <h1>Este usuario no existe.</h1>
                <a href="/"><h2>Regresar a inicio</h2></a>
            </div>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>