.main {
    height: 80vh;
    text-align: center;
}

.image {
    max-height: 50vh;
}

.title {
    font-size: 4rem;
}

.message,
.return {
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    .image {
        max-width: 90vw;
    }
    .title,
    .message,
    .return {
        font-size: 2rem;
    }
}
